@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #2b2c30;
    min-height: 200vh;
}


/* ----------header---------- */
li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
 
.logo {
    margin-right: auto;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    color: #09b3dd;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: all 0.3s ease;
}

/* Hides links in mobile view */
.nav__links.mobile-hidden {
    display: none;
}

/* Links inside the navigation */
.nav__links li {
    position: relative;
}

.nav__links li a {
    margin: 0 15px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Button for contact */
.cta button {
    /* margin-left: 20px; */
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Burger Menu */
.burger {
    display: none; /* Hidden by default for larger screens */
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.banner {
    position: relative;
    /* width: 100%;
    height: 100vh; */
}


header.sticky {
    height: 100px;
    /* background: white; */
    background: #2b2c30;
    opacity: 98%;
    border-bottom: 1px solid #3c3d42;
}

header.sticky .logo {
    /* content: url(images/logo2.png); */
    margin-right: auto;
}

header.sticky ul li a {
    color: #edf0f1;
    font-weight: 500;
}

/* -------contact me------- */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(43, 44, 48, 0.7); /* Semi-transparent background */
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.modal.show {
    display: block; 
    opacity: 1; 
}

.modal-content {
    background: rgba(43, 44, 48, 0.7); /* Use a semi-transparent dark background */
    backdrop-filter: blur(10px); /* Blur effect for the modal content */
    margin: 10% auto; 
    padding: 30px; 
    border-radius: 20px; 
    width: 80%; 
    max-width: 500px; 
    border: 2px solid #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), /* Regular shadow */
                0 0 15px rgba(255, 255, 255, 0.8); /* Glowing effect */
    transform: translateY(-20px); 
    transition: transform 0.3s ease; 
}

.modal.show .modal-content {
    transform: translateY(0); 
}

.modal h2 {
    font-family: 'Poppins', sans-serif; 
    color: #fcfcfc; 
    margin-bottom: 20px; 
}

.modal label {
    font-family: 'Poppins', sans-serif; 
    color: #ffffff; 
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 15px; 
    font-family: 'Poppins', sans-serif; 
    font-size: 14px; 
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

textarea {
    height: 100px;
    resize: vertical; /* Allow vertical resizing only for the textarea */
}


button[type="submit"] {
    background-color: rgba(0, 136, 169, 0.8);
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-family: 'Poppins', sans-serif; 
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

button[type="submit"]:hover {
    background-color: rgba(0, 136, 169, 1);
}

.close-button {
    color: #aaa; 
    font-size: 28px; 
    float: right; 
}

.close-button:hover {
    color: black; 
    cursor: pointer; 
}

.contact-header {
    display: flex;
    align-items: center;
    font-size: 1.5rem; /* Adjust size as needed */
}


/* ----------page---------- */

.container {
    padding: 10px 10%;
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Intro Section */
#Intro {
    width: 100%;
    height: 100vh;
    padding: 200px 0;
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Default: Align items side by side */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Column 1: Image */
.col-1 {
    flex-basis: 35%;
    display: flex; /* Ensure the image is centered in its container */
    justify-content: center; /* Horizontally center */
}

.col-1 img {
    width: 80%;
    border-radius: 15px;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8)); /* Glow effect on the image */
    transition: filter 0.3s ease; /* Smooth transition for dynamic effects */
}

/* Column 2: Text */
.col-2 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Vertically center */
    align-items: flex-start; /* Align text to the left */
}

.col-2 h1 {
    font-size: 3rem;
    color: #09b3dd;
}

.col-2 p {
    margin-top: 20px;
    font-size: 2rem;
    color: #ababab;
}

.col-2 a {
    font-size: 2rem;
}

/* Sub-title */
.sub-title {
    font-size: 3rem;
    font-weight: 700;
}


/* ----------services---------- */

#Services {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: #ababab;
    font-weight: 700;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.services-list a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: darkslategray;
    transform: translateY(-10px);
}

/* ----------products---------- */

#Projects {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: #ababab;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list i {
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.projects-list a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover {
    background: darkslategray;
    transform: translateY(-10px);
}

/* ----------about---------- */

#About {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: #ababab;
}

.about-list p{
    font-size: 1.5rem;
}

/* ----------footer---------- */
footer {
    border-top: 1px solid #424242;
    margin-top: -70px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-left: -10px;
}

.social-icon {
    text-decoration: none;
    color: #ffffff; /* Default icon color */
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

.social-icon:hover {
    color: #0077b5; /* Example hover color */
}

.copyright {
    font-weight: 300;
    color: white;
}


/* Mobile View */
@media screen and (max-width: 768px) {
    header {
        padding: 15px 20px;
        justify-content: center;
    }

    .nav__links {
        position: absolute;
        top: 15vh;
        right: 0; /* Start aligned to the right */
        background-color: rgba(9, 179, 221, 0.9); /* 90% transparency */
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 20px;
        z-index: 1000;
        opacity: 0; /* Start with hidden opacity */
        transform: translateX(100%); /* Start off-screen to the right */
        transition: opacity 0.5s ease-in-out 0.2s, transform 0.5s ease-in-out 0.2s; /* Transition for opacity and transform */
    }
    
    .nav__links.mobile-visible {
        opacity: 1; /* Make it visible */
        transform: translateX(0); /* Move to the center */
    }
    
    
    .nav__links li {
        margin: 10px 0;
    }
    
    .burger {
        display: flex;
    }
    
    .cta {
        display: block;
        padding: 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px; /* Adjust margin to align with other items */
        width: 100%; /* Make CTA take up the full width of the nav */
    }

    .cta button {
        margin-left: -4vh;
    }

    .modal {
        margin-top: 10%;
    }

    .modal h2 {
        font-size: 1rem;
    }
    
    .modal label {
        font-size: 1rem;
    }
    
    

    #Intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col-1 {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .col-1 img {
        max-width: 60%;
        height: auto;
        border-radius: 15px;
        display: block;
        margin: 0 auto;
    }

    .col-2 {
        flex-basis: 100%;
        align-items: center;
    }

    .col-2 h1, .col-2 p, .col-2 a {
        text-align: center;
        font-size: 1.5rem;
    }

    .sub-title {
        margin: -15% 0 -10%;
        font-size: 2rem;
    }

    #Services {
        height: auto;
    }

    #Projects {
        height: auto;
    }

    #About {
        height: auto;
    }

    .about-list p{
        font-size: 1rem;
    }

/*     #page-footer {
        margin-top: -20%;
    } */
}


/* Burger Animation */
.burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
